PORT=3000
CLIENT_ID=DISCORD_CLIENT_ID
CLIENT_SECRET=DISCORD_CLIENT_SECRET
REDIRECT_URI=http://localhost:3000/auth/discord/callback
CLIENT_URL=http://localhost:5173
SECRET_SESSION=password_very_strong
NODE_ENV=production
DATABASE_URI=DATABASE_URI